.compose{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;

    input{
        margin: 10px 0px;
        text-align: center;
    }

    textarea{
        height: 300px;
        width: 200px;
    }
}